.moves {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	color: black;
	border-radius: 3px;
  margin: 1px;
}


summary {
	background-color: #fff;
	position: relative;
	cursor: pointer;
	padding: 1rem .5rem;
	list-style: none; // Remove arrow
	&::-webkit-details-marker {
		display: none; // Remove arrow
	}
	
	&:hover {
		background-color: #f2f5f9;
	}

	
	div {
		display: flex;
		align-items: center;
	}
	
	h3 {
		display: flex;
		flex-direction: column;
	}
	
	strong {
		font-weight: 700;
	}
	
	span:first-child {
		width: 4rem;
		height: 4rem;
		border-radius: 10px;
		background-color: #f3e1e1; 
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		margin-right: 1.25rem;
		svg {
			width: 2.25rem;
			height: 2.25rem;
		}
	}
	
	span:last-child {
		font-weight: 700;
		margin-left: auto;
	}
	
	&:focus {
		outline: none;
	}

}

details {
	border-bottom: 1px solid #b5bfd9;
	&[open] {
		box-shadow: -3px 0 0 #b5bfd9;
	}
	
	&:first-of-type {
		border-top: 1px solid #b5bfd9;
	}
	& > div {
		padding: 2rem 2rem 0;
		font-size: .875rem;
	}
}

.main-container {
	display: inline-flex;
	vertical-align: top;
  width: 100%;

	& .stats {
		flex: 1;
    display: inline-block;
    width: 300px;
    font-size: 1rem;
    line-height: 1.4rem;
    padding-left: 7px;
	}

	& .image {
		width: 200px;
		flex-grow: 0;
		height: 100%;
	
		& > .detail-pokemon-img {
			width: inherit;
		}
	  }
  }